body {
    font-family: Arial, sans-serif;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    margin-bottom: 20px;
}

nav {
    margin-bottom: 20px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav li {
    margin: 0 10px;
}

nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 16px;
}

#logoContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

#logo {
    max-width: 100%;
    height: auto;
    margin-right: 10px;
}

p {
    margin-bottom: 10px;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

button {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#adSpaceTop,
#adSpaceMiddle,
#adSpaceBottom {
    text-align: center;
    margin: 20px 0;
}

#thumbnailLinkAbove,
#thumbnailLinkBelow {
    text-align: center;
    margin: 20px 0;
}

#thumbnailContainer img {
    max-width: 100%;
    display: block;
    margin: 20px 0;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
